:root {
  --color-primary: #edf2f4;
  --color-secondary: #2b2d42;

  --color-muted: #8d99ae;
  --color-active: #f5f8ff;

  --color-danger: #d90429;

  --color-message: #2a9d8f;

  --color-message-2: #e76f51;
}
